@mixin flex(){
    display: flex;
    justify-content: center;
}
@mixin titleText(){
    font-family: "Comic Sans MS", cursive, sans-serif;
}
@mixin borderBottom(){
    border-bottom: black 2px solid;
}
@mixin border(){
    border: black 2px solid;
}
@mixin divBackground(){
    background-color: darkblue;
}
