@mixin flex(){
    display: flex;
    justify-content: center;
}
@mixin contentBackgroundColor(){
    background-color: #e57373;
}
@mixin contentBackgroundColorAlt(){
    background-color: #f44336;
}
@mixin titleText(){
    font-family: "Comic Sans MS", cursive, sans-serif;
}
@mixin borderBottom(){
    border-bottom: black 2px solid;
}
@mixin borderAround(){
    border: black 2px solid;
    border-radius: 8px;
}
@mixin borderTop(){
    border-top: black 2px solid;
}
@mixin border(){
    border-bottom: black 2px solid;
}
@mixin divBackground(){
    background-color: darkblue;
}
@mixin techImageSize(){
    width: 5.208333333333333vw;
    height: 5.208333333333333vw;
}