@import '../Sass//mixin';

 body{
     margin-top: 130px;
 }
#info{
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    height: fit-content;
}

.aboutMe{
    @include borderAround();
    @include contentBackgroundColor();
    width: 100%;
}
.subtitle{
    @include titleText();
    @include contentBackgroundColor();
    width: fit-content;
    padding: 5px;
    @include borderAround();
}

.skillsSection{
    @include borderAround();
    @include contentBackgroundColor();
    width: 75%;
    margin-bottom: 8px;
    margin-left:23vh;
    box-shadow: black 2px 2px 5px;
}
.projectsHolder{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}
.project{
    @include borderAround();
    @include contentBackgroundColor();
}
.projectInfo{
    @include borderTop();
}
.linkButtons{
    @include flex();
    justify-content: space-evenly;
}
.skillsLists{
    @include flex();
    justify-content: space-evenly;
    flex-direction: row;
}
.skillsContent{
    @include flex();
    @include borderAround();
    // flex-direction: column;
    width: 160px;
    height: 160px;
    color: darkblue;
}
.techName{
    position: relative;
    top: 115px;
    font-size: larger;
    font-weight: bold;
}
.contactInfo{
    @include borderAround();
    @include contentBackgroundColor();
    margin-top: 10px;
    padding-bottom: 10px;
}
.contactHolder{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}


