@import '../Sass//mixin';

 body{
     margin-top: 130px;
 }
#info{
    width: 40%;
    margin-left: 30%;
    height: fit-content;
}

.aboutMe{
    @include borderAround();
    @include contentBackgroundColor();
    width: 100%;
    padding:6px;
}
.subtitle{
    @include titleText();
    @include contentBackgroundColor();
    width: 20%;
    padding: 5px;
    margin-left: 40%;
    text-align: center;
    text-decoration: underline white;
    @include borderAround();
}
.skillsBoxHolder{
    width: 100%;
}
.skillsSubtitle{
    width: 100%;
    text-align: center;
}
.skillsSection{
    @include borderAround();
    @include contentBackgroundColorAlt();
    width: 75%;
    margin-bottom: 8px;
    margin-left: 12.5%;
    box-shadow: black 2px 2px 5px;
    display: flex;
    flex-direction: column;
}
.skillsLists{
    @include flex();
    width: 100%;
    padding-left: 0px;
    justify-content: space-evenly;
    flex-direction: row;
}
.skillsContent{
    @include flex();
    @include borderAround();
    @include contentBackgroundColor();
    // flex-direction: column;
    justify-content: center;
    width: 10%;
    height: 200px;
    color: black;
}
.techName{
    position: relative;
    top: 115px;
    left:-38px;
    font-size: larger;
    font-weight: bold;
}

.techImageJS{
    @include techImageSize();
    position: relative;
    top: 10px;
    left: 40%;
}
.techImageFrontendReact{
    @include techImageSize();
    position: relative;
    top: 10px;
    left: 23%;
}
.techImageFrontendHTML{
    @include techImageSize();
    position: relative;
    top: 10px;
    left: 28%;
}
.techImageFrontendCSS{
    @include techImageSize();
    position: relative;
    top: 10px;
    left: 18%;
}
.techImageNode{
    @include techImageSize();
    position: relative;
    top: 10px;
    left: 32%;
}
.techImageSQL{
    @include techImageSize();
    position: relative;
    top: 10px;
    left: 22%;
}
.techImageRedux{
    @include techImageSize();
    position: relative;
    top: 10px;
    left: 25%;
}
.techImageAxios{
    @include techImageSize();
    position: relative;
    top: 10px;
    left: 20%;
}
.techImageSass{
    @include techImageSize();
    position: relative;
    top: 10px;
    left: 20%;
}
.techImageChart{
    @include techImageSize();
    position: relative;
    top: 10px;
    left: 32%;
}
.techImageSocket{
    @include techImageSize();
    position: relative;
    top: 10px;
    left: 34%;
}
.techImageMaterial{
    position: relative;
    // width: 75px;
    height: 75px;
    top: 10px;
    left: 34%;
}
.projectsHolder{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}
.projectSubtitle{
    width: 100%;
    text-align: center;
}
.project{
    @include borderAround();
    @include contentBackgroundColor();
}
.projectInfo{
    @include borderTop();
}
.linkButtons{
    @include flex();
    margin-top: 10px;
    justify-content: space-evenly;
}
.contactInfo{
    @include borderAround();
    @include contentBackgroundColor();
    margin-top: 10px;
    padding-bottom: 10px;
}
.contactHolder{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}


