@import '../Sass//mixin';

 body{
     margin-top: 130px;
 }
.info{
    width: 100vh;
    height: 100vh;
}
.aboutMe{
    @include borderAround();
    @include contentBackgroundColor();
}
.subtitle{
    @include titleText();
    border-bottom: black 2px solid;
}
.skillsSection{
    @include borderAround();
    @include contentBackgroundColor();
    margin-bottom: 8px;
}
.project{
    @include borderAround();
    @include contentBackgroundColor();
}
.projectInfo{
    @include borderTop();
}
.linkButtons{
    @include flex();
    justify-content: space-evenly;
}
.skillsLists{
    @include flex();
    justify-content: space-evenly;
    flex-direction: row;
}
.skillsContent{
    @include flex();
    flex-direction: column;
    width: 160px;
    height: 160px;
}